html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Satoshi";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: black;
}

button {
  background-color: transparent;
  border: none;
}

.player__progress-line-mobile {
  display: none;
}

.control-bar {
  border-radius: 10px;
  background-color: #333842;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  min-width: 290px;
}

.control-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}
.control-left .player {
  display: flex;
  gap: 5px;
}
.control-left .player__progress {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0px 10px;
}
.control-left .player__progress-line {
  width: 200px;
}

.track-time {
  color: #898989;
  font-size: 12px;
}

.track-meta {
  display: flex;
  align-items: center;
  gap: 10px;
}

.track-info {
  display: flex;
  flex-direction: column;
}
.track-info-title, .track-info-singer, .track-info-album {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3%;
  color: #E0E0E0;
}
.track-info-singer, .track-info-album {
  color: #898989;
}
.track-picture {
  width: 51px;
  height: 51px;
  flex-shrink: 0;
}
.track-picture-mobile {
  display: none;
}
.track-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.control-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.global {
  border-right: 1px solid #898989;
  margin-right: 15px;
}

.player__ai {
  width: 40px;
  flex-shrink: 0;
}
.player__ai img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.add-btn {
  display: inline-block;
}

.responsive-play-btn {
  display: none;
}

@media (max-width: 1299px) {
  .player__btn, .player__ai, .player__pause, .player__progress-line, .track-time, .track-info-album {
    display: none;
  }
  .track-meta {
    position: relative;
  }
  .player__progress-line-mobile {
    display: flex;
    width: 97%;
    position: absolute;
    top: 88px;
    left: 6px;
  }
}
@media (max-width: 500px) {
  .player__btn, .player__ai, .player__pause, .player__progress-line, .track-time, .track-info-album {
    display: none;
  }
  .control-bar {
    padding: 8px 8px;
  }
  .track-meta {
    position: relative;
  }
  .player__progress-line-mobile {
    display: block;
    width: 97%;
    position: absolute;
    top: 65px;
    left: 6px;
  }
  .add-btn {
    display: inline-block;
  }
  .responsive-play-btn {
    display: inline-block;
  }
  .global {
    border: none;
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
