html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Satoshi";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

.header {
  grid-area: header;
  display: none;
  justify-content: space-between;
  padding: 3px 10px;
  background-color: #060606;
  position: sticky;
  top: 0;
  z-index: 5;
}
@media (min-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    background-color: #060606;
    position: sticky;
    top: 0;
  }
}

.header-nav {
  display: flex;
  background-color: none;
}
.header-nav button {
  display: flex;
  align-items: center;
  padding: 0.7rem 1.5rem;
  width: 21rem;
  column-gap: 1rem;
  color: #898989;
  background-color: transparent;
  border: none;
}

.search-container {
  position: relative;
  width: fit-content;
  border: none;
}
.search-container img {
  position: absolute;
  left: 4%;
  top: 18%;
}
.search-container input {
  padding: 1.2rem 5rem;
  font-size: 1.4rem;
  font-weight: 400;
  width: 35rem;
  color: #898989;
  border: none;
  background-color: #060606;
}

.header-action-icons {
  padding: 6.79px 0;
}
.header-action-icons ul {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
}

.sidebar {
  grid-area: sidebar;
  display: none;
}
@media (min-width: 500px) {
  .sidebar {
    display: flex;
    background-color: #060606;
    color: #898989;
    padding: 1.1rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    z-index: 10;
  }
}
@media (min-width: 500px) and (min-width: 500px) {
  .sidebar .sidebar__library-btn {
    height: 5.4rem;
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 500px) {
  .sidebar .sidebar-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1rem;
    overflow-y: auto;
  }
}

.sidebar-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  flex: none;
  transition: all 0.3s ease;
}
.sidebar-items:hover {
  background-color: rgba(59, 59, 60, 0.8);
}
.sidebar-items:hover .item-label {
  color: #E0E0E0;
}
.sidebar-items:hover .icon img {
  border-color: #E0E0E0;
}
.sidebar-items:hover .sidebar-arrow {
  color: #E0E0E0;
}
.sidebar-items .sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 100%;
}
.sidebar-items .icon {
  width: 4.0410816193rem;
  height: 4.0410816193rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  flex: none;
}
.sidebar-items .icon img {
  width: 1.92rem;
  height: 1.92rem;
  border: 0.232rem solid #898989;
}
.sidebar-items .item-label {
  font-size: 1.4rem;
  line-height: 100%;
  letter-spacing: 3%;
}
.sidebar-items .sidebar-arrow {
  width: 4rem;
  height: 4rem;
  flex: none;
  color: #898989;
}

button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.control-bar {
  grid-area: control-bar;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  padding-bottom: 1.6rem;
  cursor: pointer;
  background-color: #333842;
  border-radius: 1rem;
  position: relative;
  z-index: 9;
  bottom: 0.2rem;
  width: 94%;
  margin: 0 5px;
}
@media (min-width: 500px) {
  .control-bar {
    position: sticky;
    padding: 2rem;
    margin: 0;
    width: 97.5%;
  }
}

.progress-bar {
  flex: 1;
  height: 0.4rem;
  background: #555;
  border-radius: 10rem;
  position: relative;
  cursor: pointer;
}
.progress-bar--mobile {
  position: absolute;
  bottom: 0.1rem;
  left: 0.9rem;
  right: 0.9rem;
  height: 0.3rem;
}
@media (min-width: 500px) {
  .progress-bar--mobile {
    display: none;
  }
}
.progress-bar__fill {
  height: 100%;
  width: 35%;
  background: #E0E0E0;
  border-radius: 10rem;
  position: relative;
}
.progress-bar__fill::after {
  content: "";
  position: absolute;
  right: -0.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}
.progress-bar:hover .progress-bar__fill::after {
  opacity: 1;
}

.control-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player {
  display: flex;
  gap: 0.5rem;
}
.player button {
  display: none;
}
@media (min-width: 500px) {
  .player button {
    display: flex;
  }
  .player .player__pause {
    display: flex;
  }
}

.player__progress {
  display: none;
}
@media (min-width: 500px) {
  .player__progress {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
    padding: 0 1rem;
  }
}

.control-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.control-right .global .player__btn.add-btn {
  display: flex;
}
.control-right .global .player__btn {
  display: none;
}
.control-right .additions {
  display: none;
}
@media (min-width: 500px) {
  .control-right .global .player__btn {
    display: flex;
  }
  .control-right .additions {
    display: flex;
    gap: 1rem;
  }
}

.track-meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: auto;
}
@media (min-width: 500px) {
  .track-meta {
    flex: 1;
  }
}

.track-time {
  display: none;
}
@media (min-width: 500px) {
  .track-time {
    display: block;
    color: #898989;
    font-size: 1.2rem;
  }
}

.track-info {
  display: flex;
  flex-direction: column;
}
.track-info-title, .track-info-singer, .track-info-album {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 3%;
  color: #E0E0E0;
  padding-bottom: 2px;
}
.track-info-singer, .track-info-album {
  color: #898989;
}
.track-info-album {
  display: none;
}
@media (min-width: 500px) {
  .track-info-album {
    display: block;
  }
}

.track-picture {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}
@media (min-width: 500px) {
  .track-picture {
    width: 5.1rem;
    height: 5.1rem;
  }
}
.track-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

.global {
  display: flex;
  margin-right: 0;
}
@media (min-width: 500px) {
  .global {
    border-right: 0.1rem solid #898989;
    margin-right: 1.5rem;
  }
}

.additions {
  display: none;
}
@media (min-width: 500px) {
  .additions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.player__ai {
  display: none;
}
@media (min-width: 500px) {
  .player__ai {
    display: flex;
    width: 4rem;
    flex-shrink: 0;
  }
  .player__ai img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.add-btn {
  display: inline-block;
}

.responsive-play-btn {
  display: inline-block;
}
@media (min-width: 500px) {
  .responsive-play-btn {
    display: none;
  }
}

body {
  margin: 0;
  display: grid;
  grid-template-areas: "header" "main" "control-bar";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100dvh;
  background-color: #060606;
}
@media (min-width: 500px) {
  body {
    grid-template-areas: "sidebar header" "sidebar main" "sidebar control-bar";
    grid-template-columns: 25.9rem 1fr;
    grid-template-rows: 5.4rem 1fr #333842;
    height: 100vh;
    overflow: hidden;
  }
}

main {
  grid-area: main;
}
@media (min-width: 500px) {
  main {
    overflow-y: auto;
    border: 1px solid #202020;
    border-radius: 10px;
    margin-bottom: 5px;
  }
}

.card {
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
