@use './reset';
@use './sections/header-section';
@use './sections/sidebar-section';
@use './sections/home-section';
@use './sections/search-section';
@use './sections/library-section';
@use './sections/playlist-section';
@use './sections/song-section';
@use './sections/album-section';
@use './sections/artist-section';
@use './sections/about-artist-section';
@use './sections/grid-albums-section';
@use './sections/list-albums-section';
@use './sections/podcast-section';
@use './sections/episode-section';
@use './sections/discover-section';




body {
    background-color: black;
}


.main {
    border: 0.1rem solid #20202080;
    border-radius: 1rem;
    padding: 1.2rem 2.5rem 0 2.5rem;
}

// class="ac"
// class="title"
// class="band-name"