@use '../abstract/mixins' as *;
@use '../universal components/components' as *;
@use '../abstract/responsive' as *;
@use '../abstract/_variables.scss' as *;


.sidebar{
        grid-area: sidebar;
        display:none;

        @include desktop{
            
            display: flex;
            background-color: $main-bg-dark;
            color: $font-fg-secondary;

            height: 100vh;
            width: $sidebar-w;
            padding: 1.1rem;
            // position: sticky;
            top: 0; 
            // z-index: 5;
            box-sizing: border-box;
            width: 100%;
            max-width: 23rem;

            // width: 100%;
            padding: 1.1rem;
            // position: fixed;
            // top: 0; left: 0;
            height: 100vh;
            flex-direction: column;
            // z-index: 0;

            

        .sidebar__library-btn{

            @include desktop {
                height: $header-h;
                display: flex;
                align-items: center;
                width: 100%;
            }
        }

        .sidebar-content{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.1rem;  
            list-style: none; 
            padding: 0;
            width: 100%;
        }
    }
}

.sidebar-items{
    @include flex-between;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    flex:none;
    transition: all 0.3s ease;
    cursor:pointer;
    

      &:hover {
        background-color: $hover-bg;
        color: $font-fg-primary;

        .sidebar-arrow{
            color: $font-fg-primary;
        }

        .icon img {
            border-color: $font-fg-primary;
        }
    }
    

    .sidebar-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1rem;
        height: 100%;

    }

    .icon{
        @include flex-center;
        width: 4.041081619262695rem;
        height: 4.041081619262695rem;
        border-radius: 0.2rem;
        flex:none;

        img{
            width: 1.92rem;
            height: 1.92rem;
            border: 0.232rem solid $font-fg-secondary;
        }
    }

    .item-label{
        font-size: 1.4rem;
        line-height: 100%;
        letter-spacing: 3%;
    }

    .sidebar-arrow{
        width: 4rem;
        height: 4rem;
        flex:none;
        color: $font-fg-secondary;
        margin-left: auto;
    }
}
