@mixin header-button() {
        display: flex;
        align-items: center;
        padding: 0.7rem 1.5rem;
        width: 21rem;
        column-gap: 1rem;
        color: $font-fg-secondary;
        background-color: transparent;
        border: none;
}

